# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:\Users\talsa\Documents\לימודים\שנה ב קיץ\למידת מכונה ופייתון\FaceRecognition\Befor_Presntation.docx
# Editor-based HTTP Client requests
/httpRequests/
